body{
  background-color: #0000ff;
color:black;
}
<header>{
margin: 40px;
background-color: rgb(55, 0, 255);
text-size-adjust: 40px;
justify-content: center;
border:solid 4px rgb(rgb(26, 1, 1), rgb(3, 27, 3), rgb(2, 1, 8);
}
section{
  background-color: brown;
margin: 40px;
display: flex;
}