body{
  background-color: #0000ff;
color:black;
}
section{
  background-color: black;
padding: top 40px;
padding-bottom:80px;
display: flex;
justify-content: center;
}
.primeira chamada{
  margin-right: 5%;
}
.mais vidios{
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

<header>{
margin: 40px;
background-color: rgb(55, 0, 255);
text-size-adjust: 40px;
justify-content: center;
border:solid 4px rgb(red, green, blue)
padding: 21px;

}
section{
  background-color: rgb(42, 165, 89);
margin: 40px;
display: flex;
}