body{
  background-color: #0000ff;
color:black;
}
<header>{
margin: 40px;
background-color: rgb(55, 0, 255);
text-size-adjust: 40px;
justify-content: center;
border:solid 4px rgb(red, green, blue)
padding: 21px;

}
section{
  background-color: rgb(42, 165, 89);
margin: 40px;
display: flex;
}